= simple_form_for @note, html: {class: 'form-horizontal'} do |f|
  = f.input :category_name, as: :autocomplete, source: categories_path
  = f.input :title
  = f.input :content, :as => :text
  = f.button :submit
