.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Bits n Bytes
      .container.nav-collapse
        %ul.nav
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
                Notes
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Preview', notes_path
                %li= link_to 'Add a Note', new_note_path
          = yield(:nav) if content_for(:nav)
          %li= link_to 'About', about_path
        %ul.nav.pull-right
          %li= link_to 'Install App', install_path
          - if current_user
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Logout', logout_path
